<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css"
    integrity="sha384-HzLeBuhoNPvSl5KYnjx0BT+WB0QEEqLprO+NBkkk5gbc67FTaL7XIGa2w1L0Xbgc" crossorigin="anonymous">
<div class="flex flex-wrap">
    <% for (let month=new Date(2023, 0, 1); month <=new Date(2023, 1, 31); month.setMonth(month.getMonth() + 1)) { %>
        <% var weeks=[]; var currentDate=new Date(month.getFullYear(), month.getMonth(), 1); var
            firstDayOfWeek=currentDate.getDay(); currentDate.setDate(currentDate.getDate() - firstDayOfWeek); while
            (currentDate.getMonth() <=month.getMonth()) { var week=[]; for (var i=0; i < 7; i++) { week.push({ date: new
            Date(currentDate) }); currentDate.setDate(currentDate.getDate() + 1); } weeks.push(week); } %>
            <div class="w-auto h-auto p-4">
                <div class="bg-gray-200 p-4">
                    <h3 class="text-lg font-bold">
                        <%= month.toLocaleString('default', { month: 'long' }) + ' ' + month.getFullYear() %>
                    </h3>
                    <table class="table-auto">
                        <thead>
                            <tr>
                                <th class="px-4 py-2">Sun</th>
                                <th class="px-4 py-2">Mon</th>
                                <th class="px-4 py-2">Tue</th>
                                <th class="px-4 py-2">Wed</th>
                                <th class="px-4 py-2">Thu</th>
                                <th class="px-4 py-2">Fri</th>
                                <th class="px-4 py-2">Sat</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% for (var i=0; i < weeks.length; i++) { %>
                                <tr>
                                    <% for (var j=0; j < weeks[i].length; j++) { %>
                                        <% if (weeks[i][j].date.getMonth()==month.getMonth()) { %>
                                            <td class="px-4 py-2">
                                                <%= weeks[i][j].date.getDate() %>
                                            </td>
                                            <% } else { %>
                                                <td class="px-4 py-2 opacity-50">
                                                    &nbsp;
                                                </td>
                                                <% } %>
                                                    <% } %>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <% } %>
</div>