<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css">
    <link rel="stylesheet" href="css/home.css" >
</head>

<body>
    <div class="w-screen h-screen bg-center" id="login">
        <div class="container">
            <h1 class=" title text-5xl font-bold text-center text-red-900 text-helvetica-neue" id="title">HabitMate</h1>
            <p class="description text-2xl font-bold text-center text-red-900 text-helvetica-neue">Track your habits
                with Habitmate. Professional suggestions for a healthier lifestyle.</p>
            <p class="description text-2xl font-bold text-center text-red-900 text-helvetica-neue">Empowering healthy
                habits, one day at a time.</p>
            <div class="form-container">
                <button
                    class="btn login-btn bg-blue-500 hover:bg-blue-300 text-white font-bold py-2 px-4 rounded">Login</button>
                <button
                    class="btn logout-btn bg-red-500 hover:bg-red-300 text-white font-bold py-2 px-4 rounded">Signup</button>

            </div>
        </div>
    </div>
    <script src="js/home.js"></script>
</body>
</html>